/* 
It's done when the page uses semantic HTML elements.
It's done when the page uses universal, element, and class selectors in CSS.
It's done when the page features at least three colors in the design.
It's done when the page uses a single font and font family for all text.
It's done when the page uses at least two heading elements (<h1> through <h6>).
It's done when the header is fixed to the top of the page on scroll.
It's done when the header contains a navigation bar with three links that display inline, including a contact link.
It's done when, if the contact link is clicked, the page jumps directly to the contact form.
It's done when the contact form includes input elements for name and email.
It's done when the contact form includes a Send button.
It's done when the image includes a descriptive alt attribute.
It's done when the page is deployed to GitHub Pages.
*/

/* universal selector */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 100px;
}
  
h1 {
  text-align: center;
  color: white;
  font-size: 36px;
}

/* header fixed to top of page */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
  text-align: center;
  color: white;
}

.background {
  background-color: #f79329;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#img-heading {
  display: block;
  text-align: center;
  color: black;
  font-size: 20px;
  margin-top: 80px;
}

#cat-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


#oj-description {
  text-align: left;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  font-size: 16px;

}

.contact-section {
  text-align: center;
  width: 320px;
  height: 300px;
  margin: 200px auto;
  border: 5px solid #04AA6D;
  background-color: rgb(219, 213, 206);
  border-radius: 16px;
}

.contact-form{
  text-align: left;
  display: inline-block;
}

.buttonHolder{ 
  text-align: center; 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

